@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  height: 80px;
  box-shadow: 0px 1px 8px 0px #24242426;

  nav {
    @media (max-width: 700px) {
      display: none;
    }

    ul {
      display: flex;
      list-style: none;
    }

    li {
      margin-right: 59px;
      font-size: 18px;
      cursor: pointer;
    }
  }
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1440px;
  margin: 203px auto auto auto;

  @media (max-width: 720px) {
    flex-wrap: wrap-reverse;
    margin: 30px auto auto auto;

    .box-glass {
      display: none;
    }
  }

  div p {
    font-weight: 700;
    font-size: 36px;
    width: 527px;

    @media (max-width: 720px) {
      width: 360px;
    }
  }

  div button {
    width: 290px;
    height: 58px;
    border-radius: 5px;
    color: #fff;
    background-color: #fca60f;
    border: none;
    font-size: 24px;
    margin: 32px 0;
    font-weight: 700;
    cursor: pointer;
  }

  .box-media img:nth-child(2) {
    // margin: 0 15px;
  }
}
